.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.metadata
.packages
build/
.cache/
android/app/src/androidTest/assets/pose3d/*.mp4
coverage/
android/.gradle/
android/.kotlin/
android/local.properties
ios/Pods/
ios/.symlinks/
*.iml
__pycache__/
*.pyc
